<!-- Página inicial com saudações à AraClin, um catálogo de clínicas médicas. 
     Destaca-se pelo uso de um link que encaminha para uma página com informações sobre a Clínica da Visão. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AraClin: Catálogo de Clínicas Médicas</title>
        <style>
            body {
                background-color: #cef1e7;
                text-align: center;
            }
            h2 {
                color: #067354;
                margin-bottom: 20px;
            }
            a {
                text-decoration: none;
                color: #067354;
                font-weight: bold;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h2> AraClin </h2>
        <h3> Bem-vindo à AraClin, seu guia confiável para cuidar de sua saúde. </h3>
        <h4> Para obter informações sobre a Clínica da Visão, <a href="{{ url_for('clinica1') }}">clique aqui </a>.</h4>
    </body>
</html>
